<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="es.iridiobis.temporizador">

    <uses-sdk tools:overrideLibrary="android.support.test.uiautomator.v18"/>

    <application>
        <provider android:name=".test.AssetContentProvider"
                  android:authorities="es.iridiobis"
                  android:grantUriPermissions="true"
                  android:exported="true"/>
    </application>
</manifest>